[submodule "external-resources/weird-erc20"]
	path = external-resources/weird-erc20
	url = https://github.com/d-xo/weird-erc20.git
[submodule "external-resources/sc-exploits-minimized"]
	path = external-resources/sc-exploits-minimized
	url = https://github.com/Cyfrin/sc-exploits-minimized.git
[submodule "external-resources/advanced-defi-2024"]
	path = external-resources/advanced-defi-2024
	url = https://github.com/Cyfrin/advanced-defi-2024.git
[submodule "external-resources/simple-security-toolkit"]
	path = external-resources/simple-security-toolkit
	url = https://github.com/nascentxyz/simple-security-toolkit.git
[submodule "external-resources/audit-report-templating"]
	path = external-resources/audit-report-templating
	url = https://github.com/Cyfrin/audit-report-templating.git
[submodule "1-passwordstore/cyfrin-audit-passwordstore"]
	path = 1-passwordstore/cyfrin-audit-passwordstore
	url = https://github.com/berekvolgyipeter/cyfrin-audit-passwordstore.git
	branch = audit
[submodule "3-t-swap/cyfrin-audit-t-swap"]
	path = 3-t-swap/cyfrin-audit-t-swap
	url = https://github.com/berekvolgyipeter/cyfrin-audit-t-swap.git
	branch = audit-data
